@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none !important;
}

/* ------------------------------------------
 Home
------------------------------------------- */
.foundText {
  font-weight: 800;
  background: linear-gradient(90deg, #ffb3b3, #d98c5a);
  background-clip: text;          /* Standard property */
  -webkit-background-clip: text;  /* Webkit prefix */
  color: transparent;
}

.secretWeapon {
  font-weight: 900;
  background: linear-gradient(
    90deg,
    #ffa96a,
    #ee74a1,
    #a077d9,
    #6d8dff,
    #63e2c2
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.greyGradient {
  background: linear-gradient(90deg, #9e9e9e, #4b4b4b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* ------------------------------------------
 ARROW HOVER ANIMATION
------------------------------------------- */

.arrow-loop {
  position: relative;
  display: inline-block;
  padding-right: 2.5rem;
  overflow: hidden;
}

.arrow-loop::after {
  content: "→";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: none;
  opacity: 1;
}

.arrow-loop:hover::after {
  animation: arrowSlide 0.6s ease-in-out forwards;
}

@keyframes arrowSlide {
  0% {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-50%) translateX(12px);
    opacity: 0;
  }
  41% {
    transform: translateY(-50%) translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
  }
}

/* ------------------------------------------
Our Service
------------------------------------------- */
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideSide {
  animation: slideSide 0.45s ease forwards;
}

html {
  scroll-behavior: smooth;
}

/* hide horizontal scrollbar visually */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* optional small helper for smoother image rendering */
img { image-rendering: auto; -webkit-font-smoothing: antialiased; }


